language: cpp
compiler:
  - clang
  - gcc
before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - sudo apt-get install perceptualdiff
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

# For QT support:
# sudo apt-get install libqt4-dev qt4-qmake

script: cmake Tools/Batch && make && spirebatch
branches:
  only:
    - master
